In [126]:
print("Hello World")

Hello World

In [276]:
a=5+7
b=5/2
c=3*6
d=3**2
e=5//2
a,b,c,d,e

(12, 2.5, 18, 9, 2)

In [128]:
500*(0.2*1.25)

125.0

#### Questions

1.A grocery shop make a profit of 20% by selling an ice for $1.2. What will be the total profit that he will gain by selling 500 bags?

In [129]:
cost_per_bag=1.25#In dollars
profit_gained=0.2
no_of_bags=500
total_profit=no_of_bags*(profit_gained*cost_per_bag)
total_profit

125.0

In [130]:
profit_per_bag=cost_per_bag*profit_gained
profit_per_bag

0.25

In [131]:
x=4
type(x)

int

In [132]:
#Store input data in variables
cost_per_bag=1.25#In dollars
profit_gained=0.2
no_of_bags=500
#Perfrom the required calculations
"""simply
writing 
multiple line comments:)"""
total_profit=no_of_bags*(profit_gained*cost_per_bag)
total_profit
profit_per_bag=cost_per_bag*profit_gained
profit_per_bag
print("The grocery store makes a total profit of $",total_profit)

The grocery store makes a total profit of $ 125.0

2.A travel company wants to fly a plane to the Bahamas.Flying the plane costs $5000 dollar.So far 29 people have signed up for the trip.If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use the appropriate arithmetic operations

In [133]:
#Store input data in variables
cost_to_run_flight=5000 #in dollars
no_of_people=29
charge_per_ticket=200
#Perfrom the required calculations
total_fare_collected=no_of_people*charge_per_ticket
profit=total_fare_collected-cost_to_run_flight
#Display the result
print("The profit made by the travel company is $",profit)

The profit made by the travel company is $ 800

In [134]:
my_favorite_number=1
my_least_favorite_number=5
a_neutarl_number=3

In [135]:
# Equality check-True
my_favorite_number==1

True

In [136]:
# Equality check-Fale
my_least_favorite_number==1

False

In [137]:
#Not Equal check-False
a_neutarl_number!=3

False

In [138]:
#Greater than check-True
my_favorite_number<10

True

In [139]:
#Greater than check-False
my_least_favorite_number>10

False

In [140]:
#Less than or equal to check-true
3+6<=9

True

In [141]:
#Less than or equal to check-False
isTrue=my_favorite_number+a_neutarl_number<=3
print(type(isTrue))
isTrue

<class 'bool'>

False

In [142]:
#And operator
my_favorite_number>0 and my_favorite_number<=3

True

In [143]:
my_favorite_number<0 and my_least_favorite_number>4

False

In [144]:
a_neutarl_number>10 and my_least_favorite_number>10

False

In [145]:
#OR operations 
my_favorite_number>0 or my_favorite_number<=3

True

In [146]:
my_favorite_number>0 or my_least_favorite_number>10

True

In [147]:
a_neutarl_number>10 or my_least_favorite_number>10

False

In [148]:
x=None
type(x)

NoneType

In [149]:
counter=10

In [150]:
#Increments in python
counter+=4
counter

14

In [151]:
counter+=1
counter

15

In [152]:
The_3_musketeers=["Athos","Porthos","Aramis"]
type(The_3_musketeers)
bool(The_3_musketeers)
if bool(The_3_musketeers):
    print("The_3_musketeers is not empty")
else:
    print("The_3_musketeers is empty")

The_3_musketeers is not empty

In [153]:
Mix_datatypes=["Kruthika",23,24.6,True] #The datatypes used are str,int,float,bool
Mix_datatypes

['Kruthika', 23, 24.6, True]

In [154]:
type(Mix_datatypes)

list

In [155]:
#Scientific Representation of a number 
one_hundredth=1e-2
one_hundredth

0.01

In [156]:
type(one_hundredth)

float

In [157]:
#False Evalution
bool(0)

False

In [158]:
bool(0.0)

False

In [159]:
bool(None)

False

In [160]:
bool("")#Only empty string evalutes to false

False

In [161]:
a=bool(range(0))

In [162]:
a

False

In [163]:
b=10
bool(b)

True

Any other values other than empty evalutes to true

In [164]:
bool

bool

In [165]:
if bool(The_3_musketeers):
    print("The_3_musketeers is not empty")
else:
    print("The_3_musketeers is empty")

The_3_musketeers is not empty

In [166]:
#String with both double and single quotes
another_pun="The first time I got a universal remote control,I thought to myself\"This changes everything\"."
another_pun

'The first time I got a universal remote control,I thought to myself"This changes everything".'

In [167]:
yet_another_pun='''Son:"Dad,can you tell me what a solar eclipse is?"
Dad:"No son.'''
yet_another_pun

'Son:"Dad,can you tell me what a solar eclipse is?"\nDad:"No son.'

In [168]:
print(yet_another_pun)

Son:"Dad,can you tell me what a solar eclipse is?"
Dad:"No son.

In [169]:
len(yet_another_pun)

63

In [170]:
#Conversion of strings to list
string='Hello'
list(string)

['H', 'e', 'l', 'l', 'o']

In [171]:
numbers="0123456789"
actual_numbers=list(numbers)
actual_numbers

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [172]:
#Lower  case to upper case and other 
name="KrUtHika"
name.lower()

'kruthika'

In [173]:
name.upper()

'KRUTHIKA'

In [174]:
name.capitalize()

'Kruthika'

In [175]:
sen="hi,how are you?"
sen.capitalize()

'Hi,how are you?'

In [176]:
name2=name.replace("KrU","Ji")
name2

'JitHika'

In [177]:
"Kru,Ji,Sush,Greesh".split(",")

['Kru', 'Ji', 'Sush', 'Greesh']

In [178]:
help("".strip())

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [182]:
#Output template
print("The grocery shops sells an ice cube for ${0} and makes profit of {1}%.They sell {2} and makes profit of {3}".format(cost_per_bag,profit_gained,no_of_bags,total_profit))

The grocery shops sells an ice cube for $1.25 and makes profit of 0.2%.They sell 500 and makes profit of 125.0

In [190]:
leave_template='''To
{0}
{1}
JIT Bengaluru

Subject:Request for leave

Dear Sir, I, {2}, bearing USN:{3} will not be able to attend the classes from {4} - {5} due to {6}.Please oblige.Thank you
                                                                                                          Yours Obidiently
                                                                                                          {2}'''
print(leave_template.format("Dr.Madhu","HOD AI/ML","Kruthika K S","1JT20AI017","31/March/2022","2/April/2022","Personal emergency"))

To
Dr.Madhu
HOD AI/ML
JIT Bengaluru

Subject:Request for leave

Dear Sir, I, Kruthika K S, bearing USN:1JT20AI017 will not be able to attend the classes from 31/March/2022 - 2/April/2022 due to Personal emergency.Please oblige.Thank you
                                                                                                          Yours Obidiently
                                                                                                          Kruthika K S

###LISTS,TUPLES AND DICTIONATY

In [191]:
fruits=['Mango','Watermelon','Banana','Cherry']
fruits

['Mango', 'Watermelon', 'Banana', 'Cherry']

In [192]:
type(fruits)

list

###LIST SLICING

In [194]:
fruits[1]

'Watermelon'

In [195]:
fruits[1:]

['Watermelon', 'Banana', 'Cherry']

In [211]:
fruits[:]

['Mango', 'Watermelon', 'Banana', 'Cherry']

In [196]:
fruits[:2]

['Mango', 'Watermelon']

In [216]:
fruits2=fruits[:]

In [217]:
fruits3=fruits[1:4]
fruits3

['Watermelon', 'Banana', 'Cherry']

In [239]:
fruits[0:-2]

['Mango', 'Watermelon', 'Orange']

In [238]:
fruits.append('Green Aple')#Adds the element at last
fruits.remove('Cherry')#removes the element using name
fruits.insert(2,'Orange')#insert the element at given position
fruits.pop(3)#removing based index

'Banana'

In [228]:
a_list=[23,'Hello',None,3.14,fruits,3<=5]
a_list

[23,
 'Hello',
 None,
 3.14,
 ['Mango',
  'Watermelon',
  'Orange',
  'Orange',
  'Orange',
  'Banana',
  'Cherry',
  'Chikoo',
  'Chikoo'],
 True]

In [227]:
empty_list=[]

In [200]:
len(empty_list)

0

In [206]:
len(a_list)
b=len(fruits)

6

In [209]:
if 'Banana' in fruits:
    print("Yes Banana is present")
else:
    print("No, Banana is not present")

Yes Banana is present

In [240]:
actual_numbers

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [244]:
i=0
b=len(actual_numbers)
for i in range(b,0,-1):

[]

In [245]:
#Tuples 
#They are imuttable they cannot be changed
Fruits=('Apple','Cherry','Dates')

In [247]:
Fruits[0]

'apple'

In [249]:
the_3_musketeers='Athos','Porthos','Aramis'
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

In [252]:
person={'name':'Kruthika K S','Sex':'Female','Age':20,'Married':False}
person

{'name': 'Kruthika K S', 'Sex': 'Female', 'Age': 20, 'Married': False}

In [251]:
type(person)

dict

In [256]:
person2=dict(name='Sharanya',sex='Female',age=24,married=False)
person2

{'name': 'Kruthika K S', 'sex': 'Female', 'age': 20, 'married': False}

In [257]:
type(person2)

dict

In [260]:
person['name']

'Kruthika K S'

In [262]:
person2['age']#Any thing other than keys is given it gives key error

20

In [263]:
colors=dict(Blue=1,Green=2,Red=3,Purple=7)
colors['Blue']

1

In [264]:
person['Address']='Bengaluru'
person

{'name': 'Kruthika K S',
 'Sex': 'Female',
 'Age': 20,
 'Married': False,
 'Address': 'Bengaluru'}

In [266]:
person.pop('Sex')

'Female'

In [267]:
person

{'name': 'Kruthika K S', 'Age': 20, 'Married': False, 'Address': 'Bengaluru'}

In [268]:
person.keys()

dict_keys(['name', 'Age', 'Married', 'Address'])

In [270]:
person.values()

dict_values(['Kruthika K S', 20, False, 'Bengaluru'])

In [271]:
person.items()

dict_items([('name', 'Kruthika K S'), ('Age', 20), ('Married', False), ('Address', 'Bengaluru')])

In [272]:
person['Age']=24

In [273]:
person

{'name': 'Kruthika K S', 'Age': 24, 'Married': False, 'Address': 'Bengaluru'}

In [274]:
person['Age']=20

In [275]:
person

{'name': 'Kruthika K S', 'Age': 20, 'Married': False, 'Address': 'Bengaluru'}