In [ ]:
#a_number=int(input("Enter a number:"))
if a_number%2==0:
    print(f"The number {a_number} is divisible by 2")
elif a_number%3==0:
    print(f"The number {a_number} is divisible by 3")
elif a_number%5==0:
    print(f"The number {a_number} is divisible by 5")
else:
    print(f"The number {a_number} is not divisible by 2,3 or 5")

In [ ]:
i=1
while i<11:
    print(f'{i}')
    i+=1

In [ ]:
n=1
count=0
while n<=10:
    if n%2==0:
        print(f"{n}")
    else:
        count+=1
    n+=1
print(f" The number of odd numbers present are {count}")

In [ ]:
n=1
count=0
while n<=10:
    if n%2==0:
        print(f"{n}")
    else:
        count+=1
    n+=1
print(f"The number of odd numbers present are {count}")

In [ ]:
n=1
count=0
count3=0
while n<=10:
    if n%2==0:
        print(count)
    else:
        count+=1
        if n%3==0:
            count3+=1

In [9]:
%%time
n=1
factorial=1
while n<=1000:
    factorial=factorial*n
    n+=1
print(f"The factorial of 100 is {factorial}")

The factorial of 100 is 402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
Wall time: 0 ns

In [1]:
count=0
while count<=6:
    print('*'*count)
    count+=1
while count>=1:
    print('*'*count)
    count-=1

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

DIAMOND SHAPE'*' ASSIGNMENT

In [4]:
n=1
while n<=100:
    print(n)
    if n==42:
        print("42 encountered")
        break
    n+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
42 encountered

In [8]:
i=1
result=1
while i<20:
    i+=1
    if i%2==0:
        print("Skipping {}".format(i))
        continue
    print("Multiplying with {}".format(i))
    result=result*i
print('i',i)
print("result",result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i 20
result 654729075

In [10]:
fruits=['Mango','Watermelon','Cherry','Banana']

In [12]:
for fruit in fruits:
    print(fruit)

Mango
Watermelon
Cherry
Banana

In [13]:
num="0123456789"

In [17]:
number=list(num)
number

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [16]:
for numbers in number:
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(9,-1,-1):# range(initial  value, condition, increment/decrement)
    print(i)

9
8
7
6
5
4
3
2
1
0

In [23]:
for i in 'Kruthika':
    print(i,end=" ")# end with " " prints the elements in same line

K r u t h i k a

In [28]:
person={'name':'Kruthika K S','Sex':'Female','Age':20,'Married':False}
person2=dict(name='Sharanya',sex='Female',age=24,married=False)
for key in person:
    print("Key:",key,",","Value:",person[key])

Key:Value name , Value: Kruthika K S
Key:Value Sex , Value: Female
Key:Value Age , Value: 20
Key:Value Married , Value: False

In [29]:
for value in person.values():
    print(value)

Kruthika K S
Female
20
False

In [33]:
for key,value in person.items():
    print("Key:",key,"Value:",value)

Key: name Value: Kruthika K S
Key: Sex Value: Female
Key: Age Value: 20
Key: Married Value: False

In [45]:
def greetings():
    """ This is a sample function to test the docstring feature"""
    userName='Kruthika'
    print("Hello user how are you?")
greetings()

Hello user how are you?

In [46]:
help(greetings)

Help on function greetings in module __main__:

greetings()
    This is a sample function to test the docstring feature

In [53]:
def greetings2(ex):
    """ This is a sample function to test the docstring feature"""
    userName='Kruthika'
    return ex,userName #in Python we can return as many values as we want
ex="Hello user how are you?"
res,res2=greetings2(ex)
print(res,res2)

Hello user how are you? Kruthika

In [2]:
def filter_even_numbers(number_List):
    '''This function is used to filter the even numbers from 1 to 10'''
    evenList=[]
    for num in number_List:
        if num%2==0:
            print(f"{num} is divisible by 2")
            evenList.append(num)
number_List=[1,2,3,4,5,6,7,8,9,10]
filter_even_numbers(number_List)

2 is divisible by 2
4 is divisible by 2
6 is divisible by 2
8 is divisible by 2
10 is divisible by 2

In [2]:
def filter_numbers(number_List):
    '''This function is used to filter the even numbers from 1 to 10'''
    evenList=[]
    oddList=[]
    for num in number_List:
        if num%2==0:
            evenList.append(num)
        else:
            oddList.append(num)
    return evenList,oddList
number_List=[1,2,3,4,5,6,7,8,9,10]
evenList,oddList=filter_numbers(number_List)
print(evenList,oddList)

[2, 4, 6, 8, 10] [1, 3, 5, 7, 9]

In [ ]:
import math

In [29]:
def calculate_EMI(cost_of_the_house,duration,intrest_rate,downpayment=0):
    '''Calculate the equal monthly installment(emi) for a loan.
    Arguments:
    '''
    amount_paid=cost_of_the_house-downpayment
    EMI=amount_paid*intrest_rate*((1+intrest_rate**(duration*12)))/(((1+intrest_rate)**(duration*12))-1)
    return EMI
EMI1=calculate_EMI(1260000,10,0.08/12,0)
EMI2=calculate_EMI(1260000,8,0.10/12,300000)
print(f'The two options are paying 1.{EMI1} 2.{EMI2}')
if(EMI1<EMI2):
    print(f"{EMI1} is better option")
else:
    print(f"{EMI2} is better option")

The two options are paying 1.6887.276888775076 2.6567.197533892191
6567.197533892191 is better option

You are planning a vacation,and you need to decide which city you want to visit.You have shortliated the four cities

In [37]:
city=['Paris','London','Dubai','Mumbai']
Return_Flight=[200,250,370,450]
Hotel_per_day=[20,30,15,10]
Weekly_Rental_Car=[200,120,80,70]
expenses_list=[]
def Expenses_caluculator():
    i=0
    for c in city:
        expenses=Return_Flight[i]+Hotel_per_day[i]+Weekly_Rental_Car[i]
        expenses_list.append(expenses)
        i+=1
    return expenses_list
res=Expenses_caluculator()
print(res)

[420, 400, 465, 530]

In [46]:
expenses_list2=[]
def determine(days):
    i=0
    j=0
    for c in city:
        expenses=Return_Flight[i]*days+Hotel_per_day[i]*days+Weekly_Rental_Car[i]*days
        expenses_list2.append(expenses)
        i+=1
    minimum=min(expenses_list2)
    for c in city:
        if expenses_list2[j]==minimum:
            return c 
            break
        j+=1
days=7
city=determine(7)
print(f' For {days} this {city} is better')

TypeError: 'NoneType' object is not iterable

In [47]:
min(expenses_list2)

ValueError: min() arg is an empty sequence

In [14]:
def password(paswrd,check_password):
    count=0
    if(paswrd==check_password):
        return 1,0
    else:
        count+=1
        if(count==3):
            return -1,0
        return 2,0           
paswrd=input("Enter the password")
check_password=input('Re-enter the password')
res,y=password(paswrd,check_password)
if res==1 and y==0:
    print("Password Changed successfully")
elif(res==2 and y==0):
    print("Password did not match")
else:
    print("MOre number of attempts")

Enter the passwordkl
Re-enter the passwordlk
Password did not match

In [9]:
s='ktu'
y='ktu'
bool(s==y)

True